div(data-aos="fade-up")  
  a(href=`/tours/${tour._id}`)
    div(class="shadow-sm card tour mb-3") 
      .row.no-gutters
        .col-md-4.tourimage
          img.card-img(src=tour.image)
        .col-md-8.tourdesc
          div(class="card-body")
            small= tour.category
            i(class="far fa-heart float-right")
            h3= tour.title
            if tour.guide
              small made by !{tour.guide.name}
            div(class="float-right mb-5") !{tour.price} &#8361; /인
            